@page "/camera"
@using Microsoft.AspNetCore.SignalR.Client
@using VirtualStudio.Shared.DTOs
@using VirtualStudio.Shared
@using VirtualStudio.Client.Shared.CameraPage
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@implements IAsyncDisposable

<h1>Camera</h1>

<p>Connection state: @connectionState</p>

<EditForm Model="@this" OnValidSubmit="@JoinVirtualStudio">
    <div>
        <InputText id="name" @bind-Value="virtualStudioName" />
        <button type="submit">Join</button>
    </div>
    <div>
        Show feedback:
        <InputCheckbox @bind-Value="showFeedback"/>
    </div>
</EditForm>

<div class="@(showFeedback ? "" : "collapse")">
    <video @ref="receivingVideoElement" autoplay playsinline></video>
    <p @ref="rtpTimestamp"></p>
</div>

<div class="@(!showFeedback ? "" : "collapse" )">
    <video @ref="sendingVideoElement" autoplay playsinline></video>
</div>

@code {
    private HubConnection hubConnection;
    private string connectionState = "Disconnected";
    private string virtualStudioName;
    private bool isTaskRunning = false;
    private bool showFeedback = false;

    ElementReference sendingVideoElement;
    ElementReference receivingVideoElement;
    ElementReference rtpTimestamp;
    WebRtcManager webRtcManager;



    StudioComponentDto studioComponentDto = new StudioComponentDto
    {
        Name = "Camera",
        IsPlaceholder = false,
        Inputs = new List<StudioComponentEndpointDto>
{
                new StudioComponentEndpointDto(){IOType = EndpointIOType.Input, ConnectionType = "WebRTC", DataKind = DataKind.Video, Id = 2, Name = "Feedback"}
            },
        Outputs = new List<StudioComponentEndpointDto>
{
                new StudioComponentEndpointDto(){IOType = EndpointIOType.Output, ConnectionType = "WebRTC", DataKind = DataKind.VideoAudio, Id = 1, Name = "Video"}
            }
    };

    protected override async Task OnInitializedAsync()
    {
        NavigationManager.LocationChanged += NavigationManager_LocationChanged;

        hubConnection = new HubConnectionBuilder()
        .WithUrl(NavigationManager.ToAbsoluteUri("/virtualstudio"))
        .Build();

        await hubConnection.StartAsync();
        connectionState = hubConnection.State.ToString();
    }

    private async void NavigationManager_LocationChanged(object sender, LocationChangedEventArgs args)
    {
        if (args.Location != NavigationManager.Uri)
        {
            await DisposeAsync();
        }
    }

    private async Task JoinVirtualStudio()
    {
        if (webRtcManager != null)
            await webRtcManager.DisposeAsync();

        webRtcManager = await WebRtcManager.CreateAsync(hubConnection, studioComponentDto, JS, receivingVideoElement, rtpTimestamp);
        await webRtcManager.OpenCameraAsync(sendingVideoElement);

        bool success = await hubConnection.InvokeAsync<bool>
        ("JoinVirtualStudio", virtualStudioName, studioComponentDto);
    }

    public async ValueTask DisposeAsync()
    {
        bool success = await hubConnection.InvokeAsync<bool>
        ("LeaveVirtualStudio", virtualStudioName);

        if (webRtcManager != null)
            await webRtcManager.DisposeAsync();

        await hubConnection.DisposeAsync();
        NavigationManager.LocationChanged -= NavigationManager_LocationChanged;
    }
}
